<p></p>
<div class="row">
  <div class="col-md-12">
    <app-data-grid
      [gridData]="data"
      [showAdd]="true"
      [showSearch]="true" 
      [incomingCommand]="Command"
      [columns]="columns"
      (editRecord)="edit($event)"
      (deleteRecord)="delete($event)"
      (addRecord)="add($event)"
      [height]="300" 
      claimType="Training"
    >
    </app-data-grid>
  </div>
</div>
<app-shared-toast #notif></app-shared-toast>
