<div class="dashboard">
    <div class="row">
        <div class="col-lg-3 col-sm-4" *ngFor="let items of dashboardItems; let i = index">
            <div class="items-panel" [attr.class]="items.class">
                <span style="text-align: center; font-size: larger; font-weight: bolder;">
                    <i [attr.class]="items.icon mr-2"></i>
                    {{ items.name }}
                </span><br />
                <span>{{ items.value }}</span>
            </div>
        </div>
    </div>
</div>