.col-lg-3.col-sm-4 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.items-panel {
    background: #f39c12 !important;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    padding-top: 40px;
    color: gray;
}

.icons {
    font-size: 70px;
    transition: all .3s linear;
    top: 5px;
    right: 40px;
    z-index: 0;
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
}

.request,
.certificate,
.program,
.enrollment,
.cost,
.closed {
    padding: 15px;
    cursor: pointer;
}

.request {
    background: #77e2a7;
}

.certificate {
    background: #e6db7b;
}

.program {
    background: #48cfe7;
}

.enrollment {
    background: #ec9bdb;
}

.cost {
    background: #a1e92dc4;
}

.closed {
    background: #81e4ada6;
}