<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="e-card">
      <div class="e-card-header">
        Please Specifay any Comment/Output after Taking this Training ?
      </div>
      <div class="e-card-content">
        <form [formGroup]="formGroup">
          <p>
            <ejs-textbox cssClass="e-outline" formControlName="comment" [multiline]="true"
              placeholder="Comment here..."></ejs-textbox>
          </p>
          <p>
            <span style="float: left; margin-left: 15px;">
              <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Back</button>
            </span>
            <span style="float: right; margin-right: 15px;">
              <button class="btn e-info" ejs-button ejs-button type="button">Submit</button>
            </span>
          </p>
        </form> 
      </div>
    </div>
    <hr />

    <div *ngFor="let co of comments;">
      <span>{{ co.comment }}</span><br />
      <span>{{ co.employee | titlecase }}, {{ co.created_at | date }}</span>
      <span style="float: right;" *ngIf="co.employee_id === getControls('employee_id').value">
        <button class="btn e-danger" ejs-button ejs-button type="button" (click)="delete(co.id);">delete</button>
      </span>
      <span>
    </div> 
  </div>
  
  <div class="col-md-2"></div>

<app-shared-toast #notif></app-shared-toast>
