<ejs-grid
  #grid
  gridLines="Both"
  [dataSource]="gridData"
  [allowGrouping]="grouped"
  [groupSettings]="groupOptions"
  [allowPaging]="true"
  [pageSettings]="pageSettings"
  [editSettings]="editSettings"
  [allowSorting]="true"
  [allowFiltering]="false"
  [allowReordering]="true"
  [allowExcelExport]="allowExporttoExcel"
  [allowResizing]="true"
  [toolbar]="toolbar"
  [searchSettings]="searchOptions"
  [allowTextWrap]="true"
  [textWrapSettings]="wrapSettings"
  (toolbarClick)="toolbarClicked($event)"
  [height]="height"
>
  <e-columns>
    <e-column
      *ngFor="let column of columns"
      [field]="column.field"
      [headerText]="column.headerText"
      [width]="column.width"
      [textAlign]="column.textAlign"
      [visible]="true"
      clipMode="EllipsisWithTooltip"
    >
    </e-column>
    <e-column
      headerText="Actions"
      width="60"
      [commands]="commands"
      *ngIf="commands.length > 0"
      textAlign="center"
      [visible]="allowOperation"
    ></e-column>
  </e-columns>
</ejs-grid>
<div #container class="root-container"></div>
