<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="e-card">
        <div class="e-card-header">
          {{ isUpdate ? Create Program : Edit Program }}
        </div>
        <div class="e-card-content">
          <form [formGroup]="formGroup">
            <hr /> 
            <p>
              <label>Fiscal Year :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="fiscal_year"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('fiscal_year').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * fiscal year is required</small>
              </span>
            </p> 
           
            <p>
              <label>Cost Of Training :</label><br />
              <ejs-numerictextbox cssClass="e-outline" formControlName="cost"></ejs-numerictextbox>
              <span *ngIf="formSubmitted && getControls('cost').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * cost is required</small>
              </span>
            </p>

            <p>
              <label>Start Date :</label><br />
              <ejs-datepicker cssClass="e-outline"formControlName="start_date"></ejs-datepicker>
              <span *ngIf="formSubmitted && getControls('start_date').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * start date is required</small>
              </span>
            </p>
            
            <p>
              <label>End Date :</label><br />
              <ejs-datepicker cssClass="e-outline"formControlName="end_date"></ejs-datepicker>
              <span *ngIf="formSubmitted && getControls('end_date').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * end date is required</small>
              </span>
            </p>

            <p>
              <label>Training :</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="training_id" 
                [dataSource]="training"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('training_id').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * training is required</small>
              </span>
            </p>

            <p>
              <label>Training Provider:</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="training_provider_id" 
                [dataSource]="training_providers"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('training_providers').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * training provider is required</small>
              </span>
            </p>

          </form> 
          <p>
            <div class="form-button-box">
              <button class="btn e-info" ejs-button ejs-button type="button" (click)="Submit()">
                {{ isupdate ? Submit : Save Changes }}</button>
              <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
            </div>
          </p>
        </div>
  </div>
  <div class="col-md-4"></div>
</div>

<app-shared-toast #notif></app-shared-toast>
