<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="e-card">
        <div class="e-card-header">
          {{ isUpdate ? Create Training : Edit Training }}
        </div>
        <div class="e-card-content">
          <form [formGroup]="formGroup">
            <hr /> 
            <p>
              <label>Training Title :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="title"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('title').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * title is required</small>
              </span>
            </p> 
           
            <p>
              <label>Description :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="description" [multiline]="true"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('description').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * description is required</small>
              </span>
            </p>
          
            <p>
              <label>Training Type :</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="type" [dataSource]="type"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('type').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * training type is required</small>
              </span>
            </p>

            <p>
              <label>Importance :</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="importance" [dataSource]="importance"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('importance').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * importance is required</small>
              </span>
            </p>

            <p>
              <label>Priority :</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="priority" [dataSource]="priority"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('priority').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * priority is required</small>
              </span>
            </p>

            <p>
              <label>Method Of Training :</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="method" [dataSource]="method"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('method').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * method is required</small>
              </span>
            </p>

          </form> 
          <p>
            <div class="form-button-box">
              <button class="btn e-info" ejs-button ejs-button type="button" (click)="Submit()">
                {{ isupdate ? Submit : Save Changes }}</button>
              <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
            </div>
          </p>
        </div>
  </div>
  <div class="col-md-4"></div>
</div>

<app-shared-toast #notif></app-shared-toast>
