<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="e-card">
        <div class="e-card-header">
          {{ isUpdate ? Create Enrollment : Edit Enrollment }}
        </div>
        <div class="e-card-content">
          <form [formGroup]="formGroup">
            <hr /> 
            <p>
              <label>Program:</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="program_id" 
                [dataSource]="Program" (change)="getControls('employee_id').enable()"></ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('program_id').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * program is required</small>
              </span>
            </p>
            <p>
              <label>Employee:</label><br />
              <ejs-dropdownlist
                id="ddlelement"
                [dataSource]="employees" formControlName="employee_id" [fields]="fields"
                [allowFiltering]="true" (filtering)="onFilteringEmployees($event)"
              ></ejs-dropdownlist>

              <span *ngIf="formSubmitted && getControls('employee_id').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * employee is required</small>
              </span>
            </p>

          </form> 
          <p>
            <div class="form-button-box">
              <button class="btn e-info" ejs-button ejs-button type="button" (click)="Submit()">
                {{ isupdate ? Submit : Save Changes }}</button>
              <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
            </div>
          </p>
        </div>
  </div>
  <div class="col-md-4"></div>
</div>

<app-shared-toast #notif></app-shared-toast>
