<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="e-card">
        <div class="e-card-header">
          {{ isUpdate ? Create Certification : Edit Certification }}
        </div>
        <div class="e-card-content">
          <p>
            <label>Select Certification :</label><br />
            <ejs-dropdownlist cssClass="e-outline" [dataSource]="certifications"
              [fields]="fields" (change)="on_Select_Certification($event)">
            </ejs-dropdownlist>
          </p>
          <form [formGroup]="formGroup">
            <hr /> 
            <p>
              <label>Employee:</label><br />
              <ejs-dropdownlist
                id="ddlelement" [dataSource]="employees" formControlName="employee_id" [fields]="fields"
                [allowFiltering]="true" (filtering)="onFilteringEmployees($event)" 
                (change)="onSelectEmployee($event)"
              ></ejs-dropdownlist>

              <span *ngIf="formSubmitted && getControls('employee_id').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * employee is required</small>
              </span>
            </p>
            <p>
              <label>Enrollment :</label><br />
              <ejs-dropdownlist cssClass="e-outline" formControlName="enrollment_id" [dataSource]="enrollments">
              </ejs-dropdownlist>
              <span *ngIf="formSubmitted && getControls('enrollment_id').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * enrollment is required</small>
              </span>
            </p>
            <p>
              <label>Result :</label><br />
              <ejs-numerictextbox cssClass="e-outline" formControlName="result"></ejs-numerictextbox>
              <span *ngIf="formSubmitted && getControls('result').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * result is required</small>
              </span>
            </p>
            <p>
              <label>Date :</label><br />
              <ejs-datepicker cssClass="e-outline"formControlName="date"></ejs-datepicker>
              <span *ngIf="formSubmitted && getControls('date').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * date is required</small>
              </span>
            </p>
            <p>
              <label>Training :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="training"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('training').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * training is required</small>
              </span>
            </p> 
            <p>
              <label>Attachment :</label><br />
              <ejs-uploader cssClass="e-outline" name="attchement" formControlName="attchement"
                allowedExtensions = '.jpg,.jpeg,.png' maxFileSize = 1e+7 (change)="onAttachmentChange($event)" #fileInput                 
              ></ejs-uploader>
              <span *ngIf="formSubmitted && getControls('attchement').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * attchement is required</small>
              </span>
            </p>

          </form> 
          <p>
            <div class="form-button-box">
              <button class="btn e-info" ejs-button ejs-button type="button" 
                [disabled]="formGroup.invalid"  (click)="Submit()">
                {{ isupdate ? Submit : Save Changes }}</button>
              <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
            </div>
          </p>
        </div>
  </div>
  <div class="col-md-4"></div>
</div>

<app-shared-toast #notif></app-shared-toast>
