<p></p>
<p>
  <form [formGroup]="formGroup">
    <ejs-datepicker cssClass="e-outline" [placeholder]="placeholder" format="yyyy" [depth]="depth"
      formControlName="fiscal_year" (change)="load_data($event)">
    </ejs-datepicker>
  </form>
</p>
<hr />
<div class="row">
  <div class="col-md-12">
    <app-data-grid
      [gridData]="data"
      [showAdd]="false"
      [showSearch]="true" 
      [incomingCommand]="Command"
      [columns]="columns"
      (detailRecord)="detail($event)"
      [height]="300" 
      claimType="Request"
    >
    </app-data-grid>
  </div>
</div>
 