<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      <div class="e-card">
        <div class="e-card-header">
          {{ isUpdate ? Create Training Provider : Edit Training Provider }}
        </div>
        <div class="e-card-content">
          <form [formGroup]="formGroup">
            <p *ngIf="isupdate && getControls('logo').value !== undefined">
              <img src="{{photoUrl}}" style="width:100px;height:100px;" /> 
            </p>
            <hr /> 
            <p>
              <label>Name :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="name"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('name').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * name is required</small>
              </span>
            </p> 
            <p>
              <label>Phone :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="phone"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('phone').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * phone number is required</small>
              </span>
            </p>
            <p>
              <label>Email :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="email"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('email').hasError('email')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * invalid email</small>
              </span>
            </p>
            <p>
              <label>Website :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="website"></ejs-textbox>
            </p>
            <p>
              <label>Address :</label><br />
              <ejs-textbox cssClass="e-outline" formControlName="address" [multiline]="true"></ejs-textbox>
              <span *ngIf="formSubmitted && getControls('address').hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                <small> * address is required</small>
              </span>
            </p>
            <p>
              <label>Logo :</label><br />
              <ejs-uploader cssClass="e-outline" name="logo" formControlName="logo"
                allowedExtensions = '.jpg,.jpeg,.png' maxFileSize = 1e+7 (change)="onLogoChange($event)" #fileInput                 
              ></ejs-uploader>
            </p>
          </form> 
          <p>
            <div class="form-button-box">
              <button class="btn e-info" ejs-button ejs-button type="button" (click)="Submit()">
                {{ isupdate ? Submit : Save Changes }}</button>
              <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
            </div>
          </p>
        </div>
  </div>
  <div class="col-md-4"></div>
</div>

<app-shared-toast #notif></app-shared-toast>
