<p></p>
<p>
  <form [formGroup]="formGroup">
    <ejs-datepicker cssClass="e-outline" [placeholder]="placeholder" format="yyyy" [depth]="depth"
      formControlName="fiscal_year" (change)="load_data($event)">
    </ejs-datepicker>
  </form>
</p>
<hr />
<div class="row">
  <div class="col-md-12">
    <app-data-grid
      [gridData]="data"
      [showAdd]="true"
      [showSearch]="true" 
      [incomingCommand]="Command"
      [columns]="columns"
      (editRecord)="edit($event)"
      (deleteRecord)="delete($event)"
      (detailRecord)="detail($event)"
      (addRecord)="add($event)"
      [height]="300" 
      claimType="Enrollment"
    >
    </app-data-grid>
  </div>
</div>
<app-shared-toast #notif></app-shared-toast>